<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'new', book: @book, user: @user,  new_book: @new_book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <%= render 'list', books: @books, user: @user %>
    </div>
  </div>
</div>